# Nuxt
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

# Electron
electron-dist
debug.log
debug.log
*.log
debug.json
errors.json
.data/db.sqlite3
public/uploads/*
.gitignore
package-lock.json
yarn.lock

 